doctype html
html
  head
    title= title
    link(rel="icon", type="image/vnd.microsoft.icon", href="../images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/Validation.js")
  body
    block content